[submodule "3rd/riscv-opcodes"]
	path = 3rd/riscv-opcodes
	url = https://github.com/riscv/riscv-opcodes.git
[submodule "3rd/spdlog"]
	path = 3rd/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "3rd/ELFIO"]
	path = 3rd/ELFIO
	url = https://github.com/serge1/ELFIO.git
